/* Styling for HTML elements */
html {
    position: relative;
  }
  
  body {
    font-family: Arial;
    background-color: #e5e2e2;
  }
  

  .navbar-brand {
    background-color: #4aaaa5,
    padding-top: 20px;
    padding-bottom: 5px;
  }
  
  .description-header {
    margin-bottom: 33px;
    font-family: Arial;
    font-size: 32px;
    font-weight: bold;
    color: #4aaaa5;
  }
  
  .col-md-6 {
    padding: 30px;
    margin-top: 32px;
    background-color: #fff;
  }
    
  #description-image {
    float: left;

  }

  .imageNav-header {
    margin-bottom: 15px;
    font-family: Arial;
    font-size: 25px;
    font-weight: bold;
    color: #4aaaa5;
  }
  
  
  .comparison-header {
    margin-bottom: 10px;
    font-family: Arial;
    font-size: 32px;
    font-weight: bold;
    color: #4aaaa5;
    text-align: center;
  }
  
  .dataframe {
    margin-bottom: 15px;
    font-family: Arial;
    font-size: 25px;
    text-align: center;
    padding: 5px;
  }